:root {
    --main-font: 'Kalam', cursive;

    --main-color: #1A374D;
    --second-color: #406882;
    --third-color: #6998AB;
    --fourth-color: #B1D0E0;

    --main-font-color: white;
    --strike-font-color: #890F0D;
}

* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

/*********************************************/
/*******************Header********************/
/*********************************************/

.header-banner {
    background-color: var(--main-color);
    position: relative;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--main-font);
    color: var(--main-font-color);
    box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.15);
}

.header__title {
    font-size: 1.8rem;
    margin-left: 10px;
    margin-top: 5px;
    flex: 1;
}

.header__add-text {
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__add-btn {
    height: 35px;
    width: 35px;
    margin: auto 10px;
    background-image: url(../img/add-button.png);
    background-size: contain;
    cursor: pointer;
    transform: scale(1);
    transition: all, ease, 200ms;
}

.header__add-btn:hover {
    transform: scale(1.1);
}

/*********************************************/
/*******************Main********************/
/*********************************************/

main {
    height: 100vh;
}

.todos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.todo {
    font-family: var(--main-font);
    font-size: 1rem;
    height: fit-content;
    max-width: 500px;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
}

.todo__header {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: var(--main-font-color);
    background-color: var(--second-color);
    border-radius: 8px 8px 0 0;
}

.todo__header-title {
    text-transform: capitalize;
    padding-top: 5px;
    margin-left: 10px;
    flex: 1;
}

.todo__content {
    border-radius: 0 0 8px 8px;
    border: 1px #ddd solid;
    border-top: none;
}

.tasks-list {
    padding: 10px 10px 0 10px;
}

.task {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px var(--fourth-color) solid;
}

.task__name {
    text-transform: capitalize;
    min-width: 100px;
    font-size: 1.1em;
    padding-top: 4px;
    padding: 3px 10px;
    flex: 1;
    border-left: 1px var(--fourth-color) solid;
    border-right: 1px var(--fourth-color) solid;
}

.btn {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    transition: all, ease, 100ms;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
}

.task-add {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-add__btn {
    background-color: var(--third-color);
    color: #fff;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: var(--main-font);
    font-size: 1.1em;
    transform: scale(1.0);
    transition: all, ease, 100ms;
}

.task-add__btn:hover {
    transform: scale(1.05);
}

.todo__header-btn-edit,
.todo__header-btn-close {
    height: 30px;
    width: 30px;
    margin: 5px;
    margin-left: 0;
}

.todo__header-btn-edit {
    background-image: url("../img/edit.png");
}

.todo__header-btn-close {
    background-image: url("../img/close.png");
}

.task__btn-checkbox,
.task__btn-checkbox--done,
.task__btn-up,
.task__btn-down,
.task__btn-edit,
.task__btn-close {
    height: 25px;
    width: 25px;
    margin: 0px 3px;
}

.task__btn-checkbox--done,
.task__btn-checkbox {
    margin-right: 10px;
}

.task__btn-checkbox {
    margin-right: 10px;
    background-image: url("../img/unchecked-black.png");
}

.task__btn-checkbox--done {
    background-image: url("../img/checked-black.png");
}

.task__btn-up {
    margin-left: 10px;
    background-image: url("../img/up-black.png");
}

.task__btn-down {
    background-image: url("../img/down-black.png");
}

.task__btn-edit {
    background-image: url("../img/edit-black.png");
}

.task__btn-close {
    background-image: url("../img/close-black.png");
}

.hidden {
    display: none;
}

.strike {
    text-decoration: line-through;
    text-decoration-color: var(--strike-font-color);
    text-decoration-thickness: 2px;
}