:root {
    --main-font: 'Kalam', cursive;

    --main-color: #1A374D;
    --second-color: #406882;
    --third-color: #6998AB;
    --fourth-color: #B1D0E0;

    --main-font-color: white;
}

* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

/*********************************************/
/*******************Header********************/
/*********************************************/

.header-banner {
    background-color: var(--main-color);
    position: relative;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--main-font);
    color: var(--main-font-color);
    box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.15);
}

.header__title {
    font-size: 1.8rem;
    margin-left: 10px;
    margin-top: 5px;
}

.header__add-container {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__add-text {
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__add-button {
    height: 35px;
    width: 35px;
    margin: auto 10px;
    background-image: url(../img/add-button.png);
    background-size: contain;
}

/*********************************************/
/*******************Main********************/
/*********************************************/

main {
    height: 100vh;
}

.todos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.todo {
    font-family: var(--main-font);
    font-size: 1rem;
    height: fit-content;
    max-width: 500px;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
}

.todo__header {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: var(--main-font-color);
    background-color: var(--second-color);
    border-radius: 8px 8px 0 0;
}

.todo__header-title {
    padding-top: 5px;
    margin-left: 10px;
    flex: 1;
}

.todo__content {
    border-radius: 0 0 8px 8px;
    border: 1px #ddd solid;
    border-top: none;
}

.tasks-list {
    padding: 10px 10px 0 10px;
}

.task {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px var(--fourth-color) solid;
}

.task__name {
    min-width: 100px;
    font-size: 1.1em;
    padding-top: 4px;
    margin: 0 10px;
    flex: 1;
}

.icon {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: all, ease, 100ms;
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.1);
}

.icon-header {
    height: 30px;
    width: 30px;
    margin: 5px;
    margin-left: 0;
}

.icon-task {
    height: 25px;
    width: 25px;
    margin: 0px 3px;
}

.task-add {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-add__button {
    background-color: var(--third-color);
    color: #fff;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: var(--main-font);
    font-size: 1.1em;
    transform: scale(1.0);
    transition: all, ease, 100ms;
}

.task-add__button:hover {
    transform: scale(1.05);
}

.icon-separator {
    height: 25px;
    width: 1px;
}

.task__separator {
    background-color: var(--fourth-color);
}

.todo__header-edit {
    background-image: url("../img/edit.png");
}

.todo__header-close {
    background-image: url("../img/close.png");
}

.task__checkbox {
    margin-right: 10px;
    background-image: url("../img/unchecked-black.png");
}

.task__up {
    margin-left: 10px;
    background-image: url("../img/up-black.png");
}

.task__down {
    background-image: url("../img/down-black.png");
}

.task__edit {
    background-image: url("../img/edit-black.png");
}

.task__close {
    background-image: url("../img/close-black.png");
}