* {
  box-sizing: border-box;
}

main#playground {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 800px;
  height: 800px;
}

div.cell {
  width: 49%;
  height: 49%;
  border: 0px white solid;
  transition: border ease .1s;
}

button#go {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 2rem;
  background-color: #ccc;
  border: none;
  margin: 3vh auto;
  cursor: pointer;
}

button#go.hidden {
  display: none;
}

button#message {
  display: block;
  height: 200px;
  font-size: 2rem;
  background-color: #ccc;
  border: none;
  margin: 3vh auto;
  cursor: pointer;
}

button#message.hidden {
  display: none;
}

@media (min-width: 600px) {
  button#go {
    width: 800px;
  }

  button#message {
    width: 800px;
  }
}